<div class="row p-4 d-none" id="order-placed">
  <div class="col-12">
    <div class="row">
      <i class="bi bi-check2-circle text-success fa-10x mx-auto"></i>
    </div>
    <h5 class="text-center mb-4">Your order has been placed successfully.</h5>
    <div class="row">
      <div class="mx-auto">
        <button id="download-order-csv" class="btn btn-sm btn-outline-success me-4">Download Order CSV</button>
        <button id="start-shopping-btn" class="btn btn-sm btn-success" onclick="redirectToHomeScreen()">Shop Again</button>
      </div>
    </div>
  </div>
</div>
<div class="row p-4" id="cart">
  <div id="empty-cart" class="col-12 d-none">
    <div class="row">
      <i class="bi bi-cart-x text-success fa-10x mx-auto"></i>
    </div>
    <h5 class="text-center mb-4">Your cart is empty.</h5>
    <button id="start-shopping-btn" class="btn btn-success mx-auto d-block">Start Shopping</button>
  </div>
  <div id="cart-items" class="col-sm-12 col-md-7 col-lg-8">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <h5 class="ms-4 my-auto col-auto">Your Cart</h5>
          <button id="clear-cart-btn" class="btn btn-sm btn-outline-danger ms-auto rounded me-2 my-auto col-auto">
            <i class="bi bi-trash3 me-1"></i> Clear Cart
          </button>
        </div>
      </div>
      <div class="card-body">
        <div id="cart-item" class="row align-items-center px-2 py-4 py-lg-2" *ngFor="let item of userCart | keyvalue">
          <div class="col-sm-12 col-md-3">
            <img class="product-img img-fluid rounded img-thumbnail border-0 mx-auto d-block">
          </div>
          <div class="col-sm-12 col-md-9 mt-2 mt-md-0 ps-4">
            <h6 class="brand-name text-muted mb-2"></h6>
            <a class="product-name text-body text-wrap">{{item.key}}</a>
            <div class="product-color text-body mt-2 small"></div>
            <div class="product-size text-body small"></div>
            <div class="row ps-3 mt-3">
              <h6 class="product-price font-weight-bold col-auto"></h6>
              <h6 class="product-mrp ms-2 col-auto"><s></s></h6>
              <h6 class="product-discount text-success ms-2 col-auto"></h6>
            </div>
            <div class="row ps-3 mt-2">
              <span class="inc-dec-qty-span border rounded border-success align-self-end col-auto px-0">
                <button class="dec-qty-btn border-0 bg-transparent text-success">
                  <i class="bi bi-dash-lg ps-1 align-middle"></i>
                </button>
                <span class="product-qty px-1 align-middle text-success">{{item.value}}</span>
                <button class="inc-qty-btn border-0 bg-transparent text-success">
                  <i class="bi bi-plus-lg pe-1 align-middle"></i>
                </button>
              </span>
              <button class="remove-item-btn btn btn-sm btn-outline-danger rounded px-2 py-0 ms-4 col-auto">
                <i class="bi bi-trash3 me-1"></i> Remove
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id='order-summary' class='col-sm-12 col-md-5 col-lg-4 mt-4 mt-md-0'>
    <div class="card sticky-top">
      <div class="card-header">
        <h5 class="p-1 my-auto">Order Summary</h5>
      </div>                                                                                                                                                                                                                                                                                        
      <div class="card-body">
        <div class='row px-4 pt-4 pb-1'>
          <span>Order Value</span>
          <span class='order-value ms-auto'></span>
        </div>
        <div class='row px-4 py-1'>
          <span>Discount</span>
          <span class='discount ms-auto text-success'></span>
        </div>
        <div class='row px-4 py-1'>
          <span>Shipping Price</span>
          <span class='shipping-price ms-auto'></span>
        </div>
        <div class='row px-4 py-1'>
          <span class="free-delivery text-success"></span>
        </div>
        <hr>
        <div class='row px-4 py-2'>
          <span class="font-weight-bold">Total Amount</span>
          <span class='total-amount font-weight-bold ms-auto'></span>
        </div>
        <div class="row px-3">
          <button class="place-order-btn btn btn-sm btn-block btn-success border mx-2 mt-4 px-4 py-2 rounded ms-auto">Login to Place Order</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade confirm-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirm</h5>
        </div>
        <div class="modal-body"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary btn-sm btn-no px-3">No</button>
          <button type="button" class="btn btn-success btn-sm btn-yes px-3">Yes</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade logout-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirm Logout</h5>
        </div>
        <div class="modal-body">Are you sure, you want to logout?</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary btn-sm btn-no px-2">Cancel</button>
          <button type="button" class="btn btn-success btn-sm btn-yes px-2">Logout</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade place-order-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirm Order</h5>
        </div>
        <div class="modal-body">You are about to place your order.</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary btn-sm btn-no px-2">Cancel</button>
          <button type="button" class="btn btn-success btn-sm btn-yes px-2">Place Order</button>
        </div>
      </div>
    </div>
  </div>
</div>