<nav class="navbar navbar-expand navbar-light bg-light mb-1 px-2 fixed-top shadow-sm">
    <a class="navbar-brand" routerLink="home">
      <img src="./assets/images/increff.png" width="100" height="30" class="d-inline-block align-top" alt=""/>
    </a>
    <div class="collapse navbar-collapse" id="navbarNavIn">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="upload-order">
                    <i class="bi bi-upload fa-lg" data-toggle="tooltip" data-placement="bottom" title="Upload Order" aria-hidden="true"></i>
                </a>
            </li>
            <li class="nav-item ms-2">
                <a class="nav-link cart-icon" routerLink="cart">
                    <i class="bi bi-cart fa-lg" data-toggle="tooltip" data-placement="bottom" title="Cart" aria-hidden="true"></i>
                    <span class="badge bg-success rounded-circle small p-1">{{cartItemsCount}}</span>
                </a>
            </li>
            <li class="nav-item ms-2" id="navbar-login-logout">
                <div *ngIf="isUserLoggedIn(); then logoutBlock else loginBlock"></div>
                <ng-template #logoutBlock>
                    <a class='nav-link' routerLink="home" (click)="logoutUser()">
                        <i class='bi bi-box-arrow-right fa-lg' data-toggle='tooltip' data-placement='bottom' title='Logout'></i>
                    </a>
                </ng-template>
                <ng-template #loginBlock>
                    <a class='nav-link' routerLink="login">
                        <i class='bi bi-box-arrow-in-right fa-lg' data-toggle='tooltip' data-placement='bottom' title='Login'></i>
                    </a>
                </ng-template>
            </li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>

<footer class="footer shadow-sm">
    &copy; 2023 Increff
</footer>